<% content_for :title, "Quests" %>

<div class="w-full max-w-5xl mx-auto pt-20">
  <!-- Header -->
  <section class="flex gap-10 justify-center">
    <div class="flex flex-col items-center gap-10">
      <span class="text-amber-400 text-4xl font-semibold">My Academy Quests</span>
      <div class="font-bold">
        <div class="flex flex-col text-white/60 items-center justify-center text-6xl leading-[1.0]">
          <span>SUPACHAI</span>
          <span>SUTTIPRAPA</span>
        </div>
        <div class="flex justify-end">
          <span class="mt-2 px-6 rounded-full bg-white/60 text-[32px] text-[#0F4A84] font-bold backdrop-blur">
            PLUB
          </span>
        </div>
      </div>
      <div class="mt-10 bg-white/20 border-2 border-white backdrop-blur-xl rounded-2xl px-8 py-3 shadow-md hover:scale-90 cursor-pointer">
          <%= link_to "My Brag document", new_quest_path, class:"text-2xl text-white"%>
      </div>
    </div>
    <div class="relative overflow-hidden w-120 h-120 ">
      <div class="absolute">
        <%= image_tag "profile_pic.png", class: "w-120 h-120 object-contain" %>
      </div>
    </div>
  </section>
  <!-- List container -->
  <section class="bg-white/80 backdrop-blure-md rounded-t-4xl p-10 h-screen mx-auto border-1">
    <div class="flex items-center justify-between">
    <p class="text-4xl font-bold text-[#204060]">Quests</p>
    <%= button_to new_quest_path,
                method: :get, 
                class: "btn py-5 px-4 rounded-full bg-[#FFA826] border-2 border-[#FFD7B2] shadow-amber-300 shadow-md text-white text-xl flex justify-center items-center cursor-pointer hover:scale-90" do %>
    <div class="flex items-center justify-center gap-2">             
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-8">
        <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
      </svg>
      <span>New</span>
    </div>
  <% end %>
      </div>
      <hr class="my-8 border-1 opacity-70 border-[#0F4A8A]"/>
      <%= turbo_frame_tag "quest_list" do %>
        <div class="">
          <%= render @quests.order(:is_done, :created_at) %>
        </div>
      <% end %>
    </div>
  </section>
</div>
