<% content_for :title, "Quests" %>

<div class="w-full max-w-5xl mx-auto pt-20 max-md:pt-10 max-sm:pt-6">
  <!-- Header -->
  <section class="flex gap-[6vw] justify-center max-xl:max-gap-20 max-md:hidden">
    <div class="flex flex-col items-center gap-10 max-xl:scale-90">
      <span class="text-amber-400 text-4xl font-semibold">My Academy Quests</span>
      <div class="font-bold">
        <div class="flex flex-col text-white/60 items-center justify-center text-6xl leading-[1.0]">
          <span>SUPACHAI</span>
          <span>SUTTIPRAPA</span>
        </div>
        <div class="flex justify-end">
          <span class="mt-2 px-6 rounded-full bg-white/60 text-[32px] text-[#0F4A84] font-bold backdrop-blur">
            PLUB
          </span>
        </div>
      </div>
      <div class="mt-4 bg-white/20 border-2 border-white backdrop-blur-xl rounded-2xl px-8 py-3 shadow-md hover:scale-90 cursor-pointer">
          <%= link_to "My Brag document", brags_path, class:"text-xl text-white"%>
      </div>
    </div>
    <div class="w-fit">
      <%= image_tag "profile_pic.png", class: "h-100 object-contain" %>
    </div>
  </section>

  <section class="overflow-hidden h-120 max-sm:h-90 md:hidden w-full">
    <div class="relative w-full">
      <div class="absolute left-1/2 -translate-x-1/2">
        <div class="text-lg opacity-70 text-white max-sm:[10px]">Supachai Suttiprapa</div>
        <div class="text-amber-400 text-2xl max-sm:text-[20px] font-semibold w-">My Academy Quests</div>
      </div>
    
      <div class="absolute -bottom-70 left-1/2 -translate-x-1/2 
                  text-6xl max-sm:text-4xl max-sm:-bottom-60 font-bold text-white opacity-70">
        <div class="flex flex-col items-center justify-center leading-[1.2]">
          <span>SUPACHAI</span>
          <span>SUTTIPRAPA</span>
        </div>
        <div class="flex justify-end">
        <span class="mt-2 px-6 rounded-full w-fit bg-white/80 text-xl text-[#0F4A84] max-sm:text-sm max-sm:px-4 font-bold backdrop-blur">
          PLUB
        </span>
        </div>
      </div>
      <div class="absolute left-1/2 top-30 -translate-x-1/2 max-sm:top-20">
        <%= image_tag "profile_pic.png", class: "h-100 object-contain" %>
      </div>
      <div class="absolute left-1/2 -bottom-185 -translate-x-1/2 bg-white/20 border-2 border-white backdrop-blur-xl rounded-4xl px-8 py-3 text-xl text-white shadow-md hover:scale-90 cursor-pointer">
        <%= link_to "My Brag document", brags_path %>
      </div>
    </div>
  </section>
  <!-- List container -->
  <section class="bg-white/80 backdrop-blur-md rounded-t-4xl p-10 h-full min-h-screen mx-auto max-md:p-6">
    <p class="text-4xl max-md:text-2xl font-bold text-[#204060]" data-test-id="quests-title">Quests</p>

    <%= turbo_frame_tag "new_quest_form", data: { test_id: "new-quest-form" } do %>
      <%= render "quests/form" %>
    <% end %>

    <%= turbo_frame_tag "quest_list", data: { test_id: "quest-list" } do %>
      <%= render @quests %>
    <% end %>
  </section>
</div>